tools/ftl/schema/clocks/clocktree.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="clocktree" type="clocktreeType">
      <xs:key name="stateNameKey">
        <xs:selector xpath="settings/states/state"></xs:selector>
        <xs:field xpath="@name"></xs:field>
      </xs:key>
      <xs:key name="limitNameKey">
        <xs:selector xpath="settings/limit-set/limit"></xs:selector>
        <xs:field xpath="@name"></xs:field>
      </xs:key>
      <xs:key name="stateValuesStateKey">
        <xs:selector xpath="settings/limit-values/state-values"></xs:selector>
        <xs:field xpath="@state"></xs:field>
      </xs:key>
      <xs:keyref name="stateValuesStateRef" refer="stateNameKey">
        <xs:selector xpath="settings/limit-values/state-values"></xs:selector>
        <xs:field xpath="@state"></xs:field>
      </xs:keyref>
      <xs:keyref name="clockLimitRef" refer="limitNameKey">
        <xs:selector xpath="clocks/clock/limits"></xs:selector>
        <xs:field xpath="@ref"></xs:field>
      </xs:keyref>
      <xs:keyref name="stateLimitRef" refer="limitNameKey">
        <xs:selector xpath="settings/limit-values/state-values/limit"></xs:selector>
        <xs:field xpath="@name"></xs:field>
      </xs:keyref>
    </xs:element>
    
    <xs:complexType name="clocktreeType">
      <xs:sequence>
            <xs:element name="settings" type="settingsType" maxOccurs="1" minOccurs="1"></xs:element>
            <xs:element name="clocks" type="clocksType" maxOccurs="1"
          minOccurs="1">
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="clocksType">
      <xs:sequence>
        <xs:element name="clock" type="clockType" maxOccurs="unbounded" minOccurs="1"></xs:element>
      </xs:sequence>
    </xs:complexType>
    

    <xs:complexType name="clockType">
      <xs:sequence>
        <xs:element name="description" type="xs:string" maxOccurs="1"
          minOccurs="1">
        </xs:element>
        <xs:element name="bits" type="boolBitsType" maxOccurs="1"
          minOccurs="0">
        </xs:element>
        <xs:element name="limits" type="clockLimitType" maxOccurs="1"
          minOccurs="0">
        </xs:element>
        <xs:choice maxOccurs="1" minOccurs="1">
          <xs:element name="source" type="sourceType" maxOccurs="1"
            minOccurs="1">
          </xs:element>
          <xs:element name="mux" type="muxType" maxOccurs="1" minOccurs="1"></xs:element>
          <xs:element name="divider" type="dividerType" maxOccurs="1"
            minOccurs="1">
          </xs:element>
          <xs:element name="multiplier" type="multiplierType" maxOccurs="1"
            minOccurs="1">
          </xs:element>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="point" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="enable" use="required">
        <xs:annotation>
          <xs:documentation>
            Clock point enable policy.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="never"></xs:enumeration>
            <xs:enumeration value="manual"></xs:enumeration>
            <xs:enumeration value="auto"></xs:enumeration>
            <xs:enumeration value="always"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="dynamic" use="required">
        <xs:annotation>
          <xs:documentation>
            Clock point is part of the runtime-switchable dynamic set.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="yes"></xs:enumeration>
            <xs:enumeration value="no"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="sourceType">
      <xs:sequence>
        <xs:element name="complex" type="xs:string" maxOccurs="1"
          minOccurs="0">
        </xs:element>
      </xs:sequence>
      <xs:attribute name="frequency" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="input" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="muxType">
      <xs:sequence>
        <xs:element name="input" type="inputType" maxOccurs="unbounded"
          minOccurs="1">
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="dividerType">
      <xs:choice maxOccurs="1" minOccurs="1">
        <xs:element name="value" type="valueType" maxOccurs="1" minOccurs="1"></xs:element>
        <xs:element name="set" type="setType" maxOccurs="1" minOccurs="1"></xs:element>
        <xs:element name="choices" type="choicesType" maxOccurs="1" minOccurs="1"></xs:element>
      </xs:choice>
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="input" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="multiplierType">
      <xs:choice maxOccurs="1" minOccurs="1">
        <xs:element name="value" type="valueType" maxOccurs="1" minOccurs="1"></xs:element>
        <xs:element name="set" type="setType" maxOccurs="1" minOccurs="1"></xs:element>
        <xs:element name="choices" type="choicesType" maxOccurs="1" minOccurs="1"></xs:element>
      </xs:choice>
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="input" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="inputType">
      <xs:sequence>
        <xs:element name="bits" type="valueBitsType" maxOccurs="1"
          minOccurs="1">
        </xs:element>
      </xs:sequence>
      <xs:attribute name="point" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="default" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="yes"></xs:enumeration>
            <xs:enumeration value="no"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="namesType"></xs:complexType>

    <xs:complexType name="valueBitsType">
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="boolBitsType">
      <xs:attribute name="enabled" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="disabled" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="clockLimitType">
      <xs:attribute name="ref" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="limitType">
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="min" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="yes"></xs:enumeration>
            <xs:enumeration value="no"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="max" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="yes"></xs:enumeration>
            <xs:enumeration value="no"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="stateLimitValueType">
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="min" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="max" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="valueType">
      <xs:sequence>
        <xs:element name="bits" type="valueBitsType" maxOccurs="1"
          minOccurs="1">
        </xs:element>
      </xs:sequence>
      <xs:attribute name="min">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(0|[1-9][0-9]*|[A-Za-z_][A-Za-z0-9_]*)"></xs:pattern>
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="max">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="(0|[1-9][0-9]*|[A-Za-z_][A-Za-z0-9_]*)"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="default">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(0|[1-9][0-9]*|[A-Za-z_][A-Za-z0-9_]*)"></xs:pattern>
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="setType">
      <xs:sequence>
        <xs:element name="bits" type="valueBitsType" maxOccurs="1"
          minOccurs="1">
        </xs:element>
      </xs:sequence>
      <xs:attribute name="values">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(0|[1-9][0-9]*)([ ,](0|[1-9][0-9]*))*"/>
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="default">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(0|[1-9][0-9]*)"></xs:pattern>
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="choicesType">
      <xs:sequence>
        <xs:element name="choice" type="choiceType" maxOccurs="unbounded" minOccurs="1"></xs:element>
      </xs:sequence>
      <xs:attribute name="default">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(0|[1-9][0-9]*|[A-Za-z_][A-Za-z0-9_]*)"></xs:pattern>
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="choiceType">
      <xs:sequence>
        <xs:element name="bits" type="valueBitsType" maxOccurs="1"
          minOccurs="1">
        </xs:element>
      </xs:sequence>
      <xs:attribute name="item" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="0|[1-9][0-9]*"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="settingsType">
      <xs:sequence>
        <xs:element name="prefixes" type="prefixesType" maxOccurs="1"
          minOccurs="1">
        </xs:element>
        <xs:element name="suffixes" type="suffixesType" maxOccurs="1" minOccurs="1"></xs:element>
        <xs:element name="configs" type="configsType" maxOccurs="1" minOccurs="1"></xs:element>
        <xs:element name="states" type="statesType" maxOccurs="1" minOccurs="0"></xs:element>
        <xs:element name="limit-set" type="limitSetType" maxOccurs="1" minOccurs="0"></xs:element>
        <xs:element name="limit-values" type="limitValuesType" maxOccurs="1" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="configsType">
      <xs:sequence>
        <xs:element name="config" type="configType" maxOccurs="unbounded" minOccurs="1"></xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="configType">
      <xs:sequence>
        <xs:element name="description" type="xs:string" maxOccurs="1"
          minOccurs="1">
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="bool"></xs:enumeration>
            <xs:enumeration value="value"></xs:enumeration>
            <xs:enumeration value="set"></xs:enumeration>
            <xs:enumeration value="raw"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="default" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="role" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="dynamic_mode"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="min" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(0|[1-9][0-9]*|[A-Za-z_][A-Za-z0-9_]*)"></xs:pattern>
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="max" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(0|[1-9][0-9]*|[A-Za-z_][A-Za-z0-9_]*)"></xs:pattern>
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="values" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(0|[1-9][0-9]*|[A-Za-z_][A-Za-z0-9_]*)([ ,](0|[1-9][0-9]*|[A-Za-z_][A-Za-z0-9_]*))*"/>
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="statesType">
      <xs:sequence>
        <xs:element name="state" type="stateType" maxOccurs="unbounded" minOccurs="1"></xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="stateType">
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="when" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="limitSetType">
      <xs:sequence>
        <xs:element name="limit" type="limitType" maxOccurs="unbounded" minOccurs="1"></xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="limitValuesType">
      <xs:sequence>
        <xs:element name="state-values" type="stateValuesType" maxOccurs="unbounded" minOccurs="1">
          <xs:key name="stateValueLimitNameKey">
            <xs:selector xpath="limit"></xs:selector>
            <xs:field xpath="@name"></xs:field>
          </xs:key>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="stateValuesType">
      <xs:sequence>
        <xs:element name="limit" type="stateLimitValueType" maxOccurs="unbounded" minOccurs="1"></xs:element>
      </xs:sequence>
      <xs:attribute name="state" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="prefixesType">
      <xs:attribute name="clock_points" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
            <xs:maxLength value="12"></xs:maxLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="macros" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
            <xs:maxLength value="12"></xs:maxLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="cfgs" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:maxLength value="12"></xs:maxLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="suffixesType">
      <xs:attribute name="frequency" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
            <xs:maxLength value="8"></xs:maxLength>
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="values" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
            <xs:maxLength value="8"></xs:maxLength>
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="bits" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:maxLength value="8"></xs:maxLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="selector" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:maxLength value="8"></xs:maxLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="enable" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:maxLength value="8"></xs:maxLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="enabled" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:maxLength value="8"></xs:maxLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
</xs:schema>
